.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.m-3 {
  margin: 20px;
}

.nice-border {
  margin: 10px;
  padding: 10px;
  border: 1px solid violet;
  cursor: pointer;
}